/* .wrapper{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 15%;
    float: center;
    margin-left: 10px;
} */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(212, 45%, 89%)

    
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10%;
}

.card {
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 10%;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card p {
    margin: 10px 0;
}